.main-content2{
    
    background-color:#FFF;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 15.2%;
    top: 14.8%;
    background-color:transparent;
   display: none;
    
}

.generate-section{
    
    background-color:rgb(255, 0, 0);
    height: 100%;
    width: 45%;
}

.preview{
   background-color: aqua;
   position: fixed;
   left: 60%;
   top: 14.8%;
   height: 100%;
   width: 50%;
 
}

canvas{
    background-color:#fff;
     
}